<div class="banner" style="background-image: linear-gradient(-225deg, rgba(139, 4, 175, 0.29) 0%, rgba(50, 0, 62, 0.6) 50%), url('https://orig00.deviantart.net/580c/f/2016/258/e/a/rick_and_morty_background_no_6_by_jurokoo-dahrw5w.png');">
  <div class="banner-content">
    <h1>Rick Sanchez's Cocktail</h1>
    <p>The best cocktail curator of the multiverse</p>
    <%= image_tag "https://static1.squarespace.com/static/528252b7e4b00150d03a4848/59a2354eebbd1a0623e0cefe/59a2359ccd39c3181c45ba52/1503802784648/RickAndMorty_OohWeeMrPoopyButthole1500.png?format=500w" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h3><%= cocktail.name %></h3>
      <%= image_tag "https://cdn.dribbble.com/users/11655/screenshots/2644741/rick_1x.png", class: "navbar-wagon-brand" %>
      <h2><%= link_to "Details", cocktail_path(cocktail) %></h2>
    </div>
    <% end %>
  </div>
</div

<h4><%= link_to "Create new cocktail", new_cocktail_path %></h4>